.jumbotron {
  padding-top: 2rem 1rem;
  background-color: #e279ac;
  height: 130vh;
  position: relative;
}

.wave1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

#projects {
  background-color: #ec8ab9;
}

section {
  padding-top: 5rem;
}

/* Media Query ketika dibuka di mobile */
@media (max-width: 576px) {
  .btn-github {
    width: 90%;
  }

  .navbar {
    background-color: black !important;
  }
}
